@media screen and (max-width: 768px) 
{
  #ted_logo_margin {
    width: 100% !important
  }

  #car_resize {
    width: 100% !important
  }

  #float_order {
    flex-direction: column;
  }

  #resize_order1 {
    order: 2;
  }

  #resize_order2 {
    order: 1;
  }


  #sec1pic{
    display:none;
  }

  #sec2pic{
    display:none;
  }

  #sec3pic{
    display:none;
  }
}

/*
.fade-in-image {animation: fadeIn 1s;}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}

.hid {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.hid.card2{
    animation-delay: .1s;
}

.hid.card3{
    
    animation-delay: .2s;
}

.hid.card4{
    animation-delay: .3s;
}

.hid.card5{
    animation-delay: .4s;
}

.hid.card6{
    animation-delay: .5s;
}

.hid.card7{
    animation-delay: .6s;
}

.hid.card8{
    animation-delay: .7s;
}

.hid.card9{
    animation-delay: .8s;
}*/


