.timeline {
  border-left: 3px solid rgb(119, 165, 148);
  position: center;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: rgb(119, 165, 148);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}