body.manor {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0,0,0,0.55)), url('images/bkg/manor_side.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 100vh; */
  background-attachment: fixed;
}

body.ring {
  margin: 0;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/bkg/rings.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
}

body.interior {
  margin: 0;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/bkg/manor_interior.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
}

/* Prevent PNG images from shrinking too small */
img.png-min {
  min-width: 200px;   /* adjust as needed */
  min-height: auto;   /* keeps aspect ratio */
  max-width: 600px;
  max-height: auto    /* still responsive */
}

img.png-min-main {
  min-width: 300px;
  min-height: auto; 
  max-width: 850px;
  max-height: auto; 
}

img.png-min-lrg {
  min-width: 300px;
  min-height: auto; 
  max-width: 450px;
  max-height: auto; 
}

/* Optional: stricter control on very small screens */
@media (max-width: 576px) {
  img.png-min {
    min-width: 120px;
    overflow-x: auto
  }
}

@media (max-width: 576px) {
  img.png-min-main {
    min-width: 120px;
    overflow-x: auto
  }
}

@media (max-width: 576px) {
  img.png-min-lrg {
    min-width: 120px;
    overflow-x: auto
  }
}
